
section
{

}

.section-header-text {
    text-transform: uppercase;
}

h1{
    text-transform: uppercase;
    font-family: Montserrat-Bold;
    font-size: 48pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    border: 3px solid #666; /* Параметры рамки */
    padding: 10px;
    margin-top: 200px;
    margin-left: 216px;
    margin: ;

}


span {
    text-transform: capitalize;
    font-family: ﻿Lato-Regular, ﻿OpenSans-Light, ﻿MyriadPro-Regular, ﻿AdobeInvisFont, serif;
    font-size: 18pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    padding: 10px;
    margin-bottom: 187px;
    margin-left: 216px;
}

.caps {text-transform: uppercase}
p {
    display: inline-block;
}

.background-image {
    margin: 0%; /* Отступы вокруг элемента */
}

.name-descrtiption
{
    margin-left: 216px;
    margin-top: 10%;
    background: none; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
}

.first-section-slogan
{ margin: 20%; /* Отступы вокруг элемента */
    background: none; /* Цвет фона */
    padding: 10px;
    margin-top: -524px;
    margin-left: 216px;    padding: 10px; /* Поля вокруг текста */
    font-family: ﻿Montserrat-Bold, ﻿OpenSans-Light, ﻿MyriadPro-Regular, ﻿AdobeInvisFont;
    font-size: 54pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;

}


.slogan-text-yellow {

    font-family: ﻿Montserrat-Bold, ﻿MyriadPro-Regular, ﻿AdobeInvisFont;
    font-size: 54pt;
    color: rgba(244, 142, 11, 255);
    text-align: left;
    text-transform: uppercase;
}

.slogan-text-white {

    font-family: ﻿Montserrat-Bold, ﻿OpenSans-Light, ﻿MyriadPro-Regular, ﻿AdobeInvisFont;
    font-size: 54pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    text-transform: uppercase;
}
img {
background-repeat: no-repeat
}

h3 {
    font-family: Montserrat;
    font-weight: bold;
    margin-top: -828px;
    margin-left: -36px;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 255);
    text-align: center;
    font-size: 22pt;
}

.background-image2{
    background-image: url("../img/Layer 20@1X.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.about {
    font-family: ﻿Lato-Regular, serif;
    font-weight: bold;
    margin-top: -828px;
    margin-left: 393px;
    font-size: 17pt;
    color: rgba(77, 73, 67, 255);
    text-align: center;
    text-transform: none;
}
